<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>gulp-ejs-template</title>
    <link rel="stylesheet" href="/css/bundle.min.css">
</head>
<body>
<%- include('layout/_header.ejs') %>
<main>

</main>
<%- include('layout/_footer') %>
</body>
</html>